body
{
	margin: 0;
}

#logo
{
	width: 100%;
	height: 150px;
	font-size: 125px;
	text-align: center;
	float: top;
	background-color: #983715;
}

#gl
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	float: top;
	background-color: #9ea3ff;
	font-size: 30px;
}